.footer
  .footer__container1
    .footer__container1__sns
      = link_to "https://twitter.com/hiro0forest" do
        %i.fab.fa-twitter-square
      = link_to "https://github.com/hiro-forest" do
        %i.fab.fa-github-square
  .footer__container2
    © 2020 Hiroki Morimoto