.form
  .form__box
    %iframe{ src: "https://docs.google.com/forms/d/e/1FAIpQLSdR74SrqERMpLNVa5xzh4U_l4ZoV0vBFqc0GQxweA2jXJP9vg/viewform?embedded=true", frameborder: "0",　marginheight: "0",　marginwidth: "0", height: "100%", width: "100%"} 読み込んでいます…