.header
  .header__main
    .header__main__name
      Hiroki Morimoto
    .header__main__box
      = link_to "Profile", "#profile", class: 'menu'
      = link_to "Skill", "#skill", class: 'menu'
      = link_to "Works", "#works", class: 'menu'
      = link_to "Contact", "#contact", class: 'menu'