@mixin thema {
  letter-spacing: 0.2rem;
  margin-top: 50px;
  padding: 0 50px 50px 50px;
  text-align: center;
  font-family: serif;
  font-weight: bold;
  font-size: 45px;
  @media (max-width: 800px){
    font-size: 35px;
  }
}
@mixin box_in {
  margin: 15px;
  width: 30%;
  height: 250px;
  box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  .works {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: all 0.6s ease 0s;
  }
  .works:hover {
    transform: scale(1.1, 1.1);
    box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  }
  @media (max-width: 900px){
    width: 300px;
    margin: 15px auto;
  }
}
@mixin skill {
  h2 {
    padding: 10px 0;
    font-size: 25px;
  }
  i {
    font-size: 50px;
    padding: 3px 0;
  }
  p {
    font-size: 20px;
  }
}
.body {
  width: 100vw;
  height: 250vh;
  @media (max-width: 800px){
    height: 100%;
  }
  &__container1 {
    width: 100%;
    height: 50vh;
    // background-color: #ccc;
    @media (max-width: 800px){
      height: 80vh;
    }
    &__center {
      margin: 0 auto;
      max-width: 980px;
      height: 100%;
      &__upper {
        width: 100%;
        height: 40px;
        @media (max-width: 800px){
          height: 20px;
        }
      }
      &__profile {
        height: calc(100% - 40px);
        width: 100%;
        display: flex;
        justify-content: space-around;
        @media (max-width: 800px){
          display: block;
        }
        &__comment {
          box-shadow: 2px 3px 2px 4px rgba(0, 0, 0, 0.1);
          width: 400px;
          height: 400px;
          padding: 75px 15px 0 15px;
          background-color: #fff;
          border-radius: 200px;
          position: relative;
          @media (max-width: 800px){
            height: 140px;
            width: 300px;
            padding: 20px;
            margin: 0 auto;
            border-radius: 20px;
          }
          p {
            padding-top: 30px;
            text-align: center;
            font-size: 20px;
            font-family: serif bold;
            line-height: 1.5;
            @media (max-width: 800px){
              padding-top: 5px;
              font-size: 18px;
              line-height: 1.2;
            }
          }
          a {
            width: 15%;
            height: 20%;
            border-top: 40px solid transparent;
            border-bottom: 40px solid transparent;
            border-left: 60px solid #fff;
            filter: drop-shadow(5px 2px 0 rgba(0,0,0,0.1));
            position: absolute;
            top: 150px;
            left: 98%;
            @media (max-width: 800px){
              border-top: 35px solid #fff;
              border-right: 35px solid transparent;
              border-left: 15px solid transparent;
              position: absolute;
              top: 140px;
              left: 45%;
            }
          }
        }
        &__image {
          padding: 0 20px 30px 30px;
          @media (max-width: 800px){
            padding: 35px 20px 20px 20px;
            display: flex;
            justify-content: center;
          }
          img {
            box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.1);
            border-radius: 200px;
            @media (max-width: 800px){
              width: 300px;
              height: 300px;
            }
          }
        }
      }
    }
  }
  &__container2 {
    height: 40vh;
    max-width: 980px;
    margin: 0 auto;
    @media (max-width: 800px){
      height: 100%;
    }
    &__theme {
      @include thema;
    }
    &__box {
      height: calc(100% - 150px);
      display: flex;
      flex-wrap: wrap;
      &__1 {
        line-height: 2;
        width: 100%;
        text-align: center;
        @media (min-width: 800px){
          font-size: 20px;
          br {
            display: none;
          }
          a {
            display: block;
          }
        }
      }
    }
  }
  &__container3 {
    height: 50vh;
    max-width: 980px;
    margin: 0 auto;
    @media (max-width: 800px){
      height: 100%;
    }
    &__theme {
      @include thema;
    }
    &__box {
      text-align: center;
      height: calc(100% - 95px);
      display: flex;
      flex-wrap: wrap;
      @media (max-width: 800px){
        display: block;
      }
      &__1 {
        @include box_in;
        @include skill;
        img {
          display: block;
          margin: 3px auto;
        }
      }
      &__2 {
        @include box_in;
        @include skill;
        i {
          display: block;
        }
        i.fab.fa-html5 {
          color: rgb(231, 92, 28);
        }
        i.fab.fa-css3-alt {
          color: rgb(21, 17, 226);
        }
        i.fab.fa-js {
          color: rgb(252, 175, 32);
        }
      }
      &__3 {
        @include box_in;
        @include skill;
        i.fas.fa-gem {
          color: rgb(228, 2, 2);
        }
        i.fab.fa-aws {
          color: rgb(241, 157, 1);
        }
      }
    }
  }
  &__container4 {
    height: 50vh;
    max-width: 980px;
    margin: 0 auto;
    @media (max-width: 800px){
      height: 100%;
    }
    &__theme {
      @include thema;
    }
    &__box {
      height: calc(100% - 95px);
      display: flex;
      flex-wrap: wrap;
      &__1 {
        @include box_in;
        position: relative;
        i {
          color: #ccc;
          font-size: 30px;
          z-index: 10;
          position: absolute;
          top: 100px;
          left: 15px;
        }
      }
      &__2 {
        @include box_in;
      }
      &__3 {
        @include box_in;
      }
      @media (max-width: 900px){
        display: block;
      }
    }
  }
  &__container5 {
    height: 40vh;
    max-width: 980px;
    margin: 0 auto;
    @media (max-width: 800px){
      height: 100%;
    }
    &__theme {
      @include thema;
    }
    &__box {
      height: calc(100% - 150px);
      display: flex;
      flex-wrap: wrap;
      &__1 {
        width: 100%;
        text-align: center;
        font-size: 18px;
        @media (min-width: 800px){
          font-size: 22px;
          br {
            display: none;
          }
        }
      }
    }
  }
}

