@mixin thema {
  margin-top: 50px;
  padding: 0 50px 50px 50px;
  text-align: center;
  font-size: 30px;
}
@mixin box_in {
  margin: 15px;
  width: 30%;
  height: 250px;
  border: solid 5px #ccc;
  border-radius: 20px;
  .work {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  @media (max-width: 880px){
    width: 300px;
    margin: 15px auto;
  }
}
.body {
  width: 100vw;
  height: 200vh;
  @media (max-width: 880px){
    height: 300vh;
  }
  &__container1 {
    width: 100%;
    height: 50vh;
    background-color: #ccc;
    &__center {
      margin: 0 auto;
      max-width: 980px;
      height: 100%;
      &__upper {
        width: 100%;
        height: 40px;
      }
      &__profile {
        height: calc(100% - 40px);
        width: 100%;
        display: flex;
        justify-content: space-around;
        &__comment {
          width: 40%;
          height: 70%;
          padding: 80px 10px 0 10px;
          background-color: #fff;
          border-radius: 100px 150px 100px 150px;
          position: relative;
          p {
            line-height: 3;
          }
          a {
          width: 15%;
          height: 20%;
          border-top: 30px solid transparent;
          border-bottom: 30px solid transparent;
          border-left: 50px solid #fff;
          position: absolute;
          top: 150px;
          left: 100%;
            @media (max-width: 780px){
              border-top: 40px solid transparent;
              border-bottom: 40px solid transparent;
              border-left: 30px solid #fff;
            }
          }
          @media (max-width: 780px){
            height: 90%;
            padding: 50px 10px 0 10px;
          }
        }
        &__image {
          padding: 10px 20px 30px 30px;
          img {
            border-radius: 200px;
          }
        }
      }
    }
  }
  &__container2 {
    height: 30vh;
    max-width: 980px;
    margin: 0 auto;
    &__theme {
      @include thema;
    }
    &__box {
      height: calc(100% - 150px);
      display: flex;
      flex-wrap: wrap;
      &__1 {
        width: 100%;
        text-align: center;
      }
    }
  }
  &__container3 {
    height: 50vh;
    max-width: 980px;
    margin: 0 auto;
    &__theme {
      @include thema;
    }
    &__box {
      text-align: center;
      height: calc(100% - 95px);
      display: flex;
      flex-wrap: wrap;
      &__1 {
        @include box_in;
      }
      &__2 {
        @include box_in;
      }
      &__3 {
        @include box_in;
      }
      @media (max-width: 880px){
        display: block;
      }
    }
    @media (max-width: 880px){
      height: 100vh;
    }
  }
  &__container4 {
    height: 50vh;
    max-width: 980px;
    margin: 0 auto;
    &__theme {
      @include thema;
    }
    &__box {
      height: calc(100% - 95px);
      display: flex;
      flex-wrap: wrap;
      &__1 {
        @include box_in;
      }
      &__2 {
        @include box_in;
      }
      &__3 {
        @include box_in;
      }
      @media (max-width: 880px){
        display: block;
      }
    }
    @media (max-width: 880px){
      height: 100vh;
    }
  }
}
h2 {
  font-size: 20px;
  
}
// b {
//   font-size: 10px;
// }

