.footer {
  width: 100vw;
  height: 20vh;
  background-color: #ccc;
  @media (max-width: 800px){
    height: 100%;
  }
  &__container1 {
    max-width: 980px;
    margin: 10px auto;
    &__sns {
      padding-top: 10px;
      text-align: center;
      font-size: 50px;
      a {
        color: black;
        text-decoration: none;
      }
      i:hover {
        transform: scale(1.3, 1.3);
        -webkit-transform: scale(1.3,1.3);
        -ms-transform: scale(1.3,1.3);
        filter: drop-shadow(5px 6px 1px rgba(0,0,0,0.2));
        -webkit-filter:drop-shadow(5px 6px 1px rgba(0,0,0,0.2));
        -moz-filter:drop-shadow(5px 6px 1px rgba(0,0,0,0.2));
        -ms-filter:drop-shadow(5px 6px 1px rgba(0,0,0,0.2));
        transition: all 0.8s ease;
      }
    }
  }
  &__container2 {
    max-width: 980px;
    margin: 30px auto;
    text-align: center;
    @media (max-width:800px){
      margin: 20px auto 0 auto;
      padding-bottom: 10px;
    }
  }
}