body {
  box-sizing : border-box;
}
.header {
  width: 100vw;
  &__main {
    max-width: 980px;
    margin: 90px auto;
    display: flex;
    justify-content: space-between;
    @media (max-width: 980px){
      justify-content: space-around;
    }
    @media (max-width: 750px){
      margin: 50px auto;
      display: block;
      text-align: center;
    }
    &__name {
      letter-spacing: 0.2rem;
      padding-left: 30px;
      font-family: serif;
      font-weight: bold;
      font-size: 45px;
      @media (max-width: 750px){
        padding: 10px;
        font-size: 35px;
      }
    }
    &__box {
      letter-spacing: 0.1rem;
      margin-top: 20px;
      padding-right: 30px;
      font-family: serif;
      font-size: 25px;
      @media (max-width: 750px){
        font-size: 20px;
        padding: 10px;
      }
      .menu {
        padding: 0 10px;
        text-decoration: none;
        color: black;
      }
    }
  }
}