.header {
  width: 100vw;
  &__main {
    max-width: 980px;
    margin: 90px auto;
    display: flex;
    justify-content: space-between;
    &__name {
      padding-left: 30px;
      font-size: 30px;
    }
    &__box {
      padding-right: 30px;
      font-size: 25px;
    }
    @media (max-width: 880px){
      justify-content: space-around;
    }
  }
}